Repository DonutLabs-ai/DonutExtension: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint, eslint --fix, prettier --write

feat: readme
  README.md
  wxt.config.ts
Due: prettier --write

fix: bug
  src/constants/web3authConfig.ts
Due: eslint --fix, prettier --write

feat: router
  package.json
  pnpm-lock.yaml
  src/entrypoints/popup/App.tsx
  src/pages/index.ts
  src/routes/index.tsx
Due: eslint --fix, prettier --write

feat: complete popup embedded page
  components.json
  package.json
  pnpm-lock.yaml
  src/assets/styles/index.css
  src/components/Modal/index.tsx
  src/components/shadcn/button.tsx
  src/components/shadcn/dialog.tsx
  src/entrypoints/content.ts
  src/pages/InjectModals/CommandBar/index.tsx
  src/pages/InjectModals/QuickActions/index.tsx
  src/pages/InjectModals/index.tsx
  src/pages/Web3AuthTest/index.tsx
  src/utils/shadcn.ts
  tsconfig.json
Due: stylelint, eslint --fix, prettier --write

add nanobrowser logic to background.js
  package.json
  pnpm-lock.yaml
  src/entrypoints/background.ts
  src/entrypoints/background/browser/context.ts
  src/entrypoints/background/browser/page.ts
  src/entrypoints/background/browser/views.ts
  src/entrypoints/background/dom/clickable/service.ts
  src/entrypoints/background/dom/history/service.ts
  src/entrypoints/background/dom/history/view.ts
  src/entrypoints/background/dom/raw_types.ts
  src/entrypoints/background/dom/service.ts
  src/entrypoints/background/dom/views.ts
  src/entrypoints/buildDomTree.js
  wxt.config.ts
Due: eslint --fix, prettier --write

fix double injection
  src/entrypoints/background.ts
  src/entrypoints/content.ts
Due: eslint --fix, prettier --write

feat: command bar with / $
  package.json
  pnpm-lock.yaml
  src/components/CommandInput/index.tsx
  src/components/CommandInput/utils.ts
  src/components/Modal/index.tsx
  src/components/SuggestionPopover/index.tsx
  src/components/shadcn/command.tsx
  src/components/shadcn/dialog.tsx
  src/components/shadcn/input.tsx
  src/constants/commands.ts
  src/constants/tokens.ts
  src/pages/InjectModals/CommandBar/index.tsx
  src/stores/commandInputStore.ts
  src/utils/filter.ts
Due: eslint --fix, prettier --write

feat: command bar with multiple inputs
  package.json
  pnpm-lock.yaml
  src/components/CommandInput/index.tsx
  src/components/CommandInput/utils.ts
  src/components/Modal/index.tsx
  src/components/SuggestionPopover/index.tsx
  src/components/shadcn/command.tsx
  src/constants/commands.ts
  src/constants/tokens.ts
  src/pages/InjectModals/CommandBar/components/CommandInput/BaseInput.tsx
  src/pages/InjectModals/CommandBar/components/CommandInput/index.tsx
  src/pages/InjectModals/CommandBar/components/SuggestionPopover/CommandSelect.tsx
  src/pages/InjectModals/CommandBar/components/SuggestionPopover/TokenSelect.tsx
  src/pages/InjectModals/CommandBar/components/SuggestionPopover/index.tsx
  src/pages/InjectModals/CommandBar/index.tsx
  src/pages/InjectModals/CommandBar/store/commandInputStore.ts
  src/stores/commandInputStore.ts
Due: eslint --fix, prettier --write

feat: command bar
  src/pages/InjectModals/CommandBar/components/CommandInput/BaseInput.tsx
  src/pages/InjectModals/CommandBar/components/CommandInput/InputField.tsx
  src/pages/InjectModals/CommandBar/components/CommandInput/ResultMessage.tsx
  src/pages/InjectModals/CommandBar/components/CommandInput/index.tsx
  src/pages/InjectModals/CommandBar/components/SuggestionPopover/CommandSelect.tsx
  src/pages/InjectModals/CommandBar/components/SuggestionPopover/TokenSelect.tsx
  src/pages/InjectModals/CommandBar/components/SuggestionPopover/index.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/AddressSuggestion.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandPreview/SendPreview.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandPreview/SwapPreview.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandPreview/index.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandSuggestion.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/TokenSuggestion.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/index.tsx
  src/pages/InjectModals/CommandBar/hooks/useCommandExecution.ts
  src/pages/InjectModals/CommandBar/hooks/useCommandInput.ts
  src/pages/InjectModals/CommandBar/hooks/useSuggestionType.ts
  src/pages/InjectModals/CommandBar/index.tsx
  src/pages/InjectModals/CommandBar/store/commandDefinitions.ts
  src/pages/InjectModals/CommandBar/store/commandInputStore.ts
  src/pages/InjectModals/CommandBar/utils/commandParser.ts
  src/pages/InjectModals/CommandBar/utils/handleSuggestionSelect.ts
  src/pages/InjectModals/CommandBar/utils/validateParamValue.ts
  src/utils/filter.ts
Due: eslint --fix, prettier --write

feat: tailwind color
  src/assets/styles/index.css
  src/pages/InjectModals/CommandBar/components/Suggestions/AddressSuggestion.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandPreview/SendPreview.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandPreview/SwapPreview.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandPreview/index.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandSuggestion.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/TokenSuggestion.tsx
  src/pages/InjectModals/QuickActions/index.tsx
  src/pages/Web3AuthTest/index.tsx
  tailwind.config.js
Due: stylelint, eslint --fix, prettier --write

fix: react 18
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: remove @loadable/component
  package.json
  pnpm-lock.yaml
  src/routes/index.tsx
Due: eslint --fix, prettier --write

feat: token list
  package.json
  pnpm-lock.yaml
  src/components/shadcn/scroll-area.tsx
  src/entrypoints/background.ts
  src/entrypoints/content.ts
  src/messaging/tokenMessaging.ts
  src/pages/InjectModals/CommandBar/components/Suggestions/TokenSuggestion.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/index.tsx
  src/pages/InjectModals/CommandBar/index.tsx
  src/pages/InjectModals/CommandBar/utils/commandParser.ts
  src/pages/InjectModals/CommandBar/utils/validateParamValue.ts
  src/services/index.ts
  src/services/tokenService.ts
  src/store/tokenStore.ts
  src/store/userStore.ts
Due: eslint --fix, prettier --write

feat: mcp demo
  package.json
  pnpm-lock.yaml
  src/constants/mcp.ts
  src/entrypoints/background.ts
  src/entrypoints/content.ts
  src/pages/MCPDemo/index.tsx
  src/routes/index.tsx
  src/services/mcpService.ts
  src/utils/mcpClient.ts
Due: eslint --fix, prettier --write

feat: change popup logic
  assets/react.svg
  package.json
  pnpm-lock.yaml
  src/components/Modal/index.tsx
  src/constants/popupSizes.ts
  src/entrypoints/content.ts
  src/entrypoints/popup/App.tsx
  src/entrypoints/popup/index.html
  src/layouts/SizeLayout/index.tsx
  src/layouts/index.ts
  src/pages/EventPopup/components/TransactionSignView.tsx
  src/services/popupEventService.ts
  src/stores/popupEventStore.ts
  src/utils/popupManager.ts
Due: eslint --fix, prettier --write

feat: ai completion
  src/entrypoints/background.ts
  src/pages/InjectModals/CommandBar/components/CommandInput/InputField.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/AddressSuggestion.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandSuggestion.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/TokenSuggestion.tsx
  src/pages/InjectModals/CommandBar/hooks/useCommandExecution.ts
  src/pages/InjectModals/CommandBar/utils/handleSuggestionSelect.ts
  src/pages/MCPDemo/index.tsx
  src/services/aiCompletionService.ts
  src/services/mcpService.ts
  src/services/swapService.ts
  src/services/tokenService.ts
  src/stores/commandHistoryStore.ts
  src/stores/index.ts
  src/stores/swapStore.ts
  src/stores/tokenStore.ts
  src/utils/fetch.ts
Due: eslint --fix, prettier --write

fix: ui and optimization
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/assets/images/chevronDown.svg
  src/assets/images/exchange.svg
  src/assets/styles/index.css
  src/components/shadcn/avatar.tsx
  src/pages/InjectModals/CommandBar/components/CommandInput/InputField.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandPreview/SendPreview.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandPreview/SwapPreview.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandPreview/index.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandSuggestion.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/TokenSuggestion.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/index.tsx
  src/pages/InjectModals/CommandBar/utils/commandParser.ts
  src/services/aiCompletionService.ts
  src/types/globals.d.ts
  src/utils/amount.ts
  tsconfig.json
  wxt.config.ts
Due: stylelint, eslint --fix, prettier --write

feat: tiptap command bar
  .eslintignore
  .stylelintrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/assets/styles/index.css
  src/components/Modal/index.tsx
  src/components/shadcn/avatar.tsx
  src/pages/EventPopup/index.tsx
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandPreview/index.tsx
  src/pages/InjectModals/TiptapCommandBar/components/TiptapEditor.tsx
  src/pages/InjectModals/TiptapCommandBar/components/TokenView.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/AddressSuggestion.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/SendPreview.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/SwapPreview.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/index.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandSuggestion.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/TokenSuggestion.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/index.tsx
  src/pages/InjectModals/TiptapCommandBar/extensions/EditorExtensions.ts
  src/pages/InjectModals/TiptapCommandBar/extensions/SpaceTransformer.ts
  src/pages/InjectModals/TiptapCommandBar/extensions/TokenNode.ts
  src/pages/InjectModals/TiptapCommandBar/extensions/TokenReplacer.ts
  src/pages/InjectModals/TiptapCommandBar/hooks/useCommandParser.ts
  src/pages/InjectModals/TiptapCommandBar/hooks/useKeyboardNavigation.ts
  src/pages/InjectModals/TiptapCommandBar/hooks/useSuggestionHandler.ts
  src/pages/InjectModals/TiptapCommandBar/hooks/useTiptapCommandExecution.ts
  src/pages/InjectModals/TiptapCommandBar/hooks/useTokenNodeHandler.ts
  src/pages/InjectModals/TiptapCommandBar/index.tsx
  src/pages/InjectModals/TiptapCommandBar/store/tiptapStore.ts
  src/pages/InjectModals/TiptapCommandBar/styles/tiptap-global.css
  src/pages/InjectModals/TiptapCommandBar/utils/commandData.ts
  src/pages/InjectModals/TiptapCommandBar/utils/commandUtils.ts
  src/pages/InjectModals/TiptapCommandBar/utils/editorUtils.ts
  src/pages/InjectModals/TiptapCommandBar/utils/parameterUtils.ts
  src/pages/InjectModals/TiptapCommandBar/utils/suggestionUtils.ts
  src/pages/InjectModals/TiptapCommandBar/utils/tokenParamUtils.ts
  src/pages/InjectModals/TiptapCommandBar/utils/validateParamValue.ts
  src/pages/InjectModals/index.tsx
Due: stylelint, eslint --fix, prettier --write

feat: ai completion
  src/assets/images/logo.svg
  src/pages/InjectModals/TiptapCommandBar/components/TiptapEditor.tsx
  src/pages/InjectModals/TiptapCommandBar/extensions/SuffixHint.ts
  src/pages/InjectModals/TiptapCommandBar/hooks/useAiSuggestion.ts
  src/pages/InjectModals/TiptapCommandBar/index.tsx
  src/pages/InjectModals/TiptapCommandBar/store/tiptapStore.ts
  src/pages/InjectModals/TiptapCommandBar/styles/tiptap-global.css
  src/pages/InjectModals/TiptapCommandBar/utils/editorUtils.ts
  src/services/aiCompletionService.ts
Due: stylelint, eslint --fix, prettier --write

feat: icon
  public/icon/128.png
  public/icon/16.png
  public/icon/32.png
  public/icon/48.png
  public/icon/96.png
  public/wxt.svg
Due: none

fix: ui style
  src/assets/images/jupiter.png
  src/assets/images/logo.png
  src/assets/images/solsniffer.png
  src/assets/styles/index.css
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/SwapPreview.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/index.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandSuggestion.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/TokenSuggestion.tsx
  src/pages/InjectModals/TiptapCommandBar/index.tsx
  src/pages/InjectModals/TiptapCommandBar/utils/commandData.ts
  tailwind.config.js
Due: stylelint, eslint --fix, prettier --write

feat: price chart and rug check ui
  package.json
  pnpm-lock.yaml
  src/api/index.ts
  src/assets/images/circleCheck.svg
  src/assets/images/circleXmark.svg
  src/components/Modal/index.tsx
  src/components/shadcn/skeleton.tsx
  src/entrypoints/background.ts
  src/pages/InjectModals/TiptapCommandBar/components/TiptapEditor.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/PriceChart.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/RugCheck.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/SendPreview.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/SwapPreview.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/index.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandSuggestion.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/TokenSuggestion.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/index.tsx
  src/pages/InjectModals/TiptapCommandBar/hooks/useCommandExecution.ts
  src/pages/InjectModals/TiptapCommandBar/hooks/useCommandParser.ts
  src/pages/InjectModals/TiptapCommandBar/hooks/useKeyboardNavigation.ts
  src/pages/InjectModals/TiptapCommandBar/hooks/useSuggestionHandler.ts
  src/pages/InjectModals/TiptapCommandBar/hooks/useTokenNodeHandler.ts
  src/pages/InjectModals/TiptapCommandBar/store/tiptapStore.ts
  src/pages/InjectModals/TiptapCommandBar/utils/commandData.ts
  src/pages/InjectModals/TiptapCommandBar/utils/commandUtils.ts
  src/pages/InjectModals/TiptapCommandBar/utils/parameterUtils.ts
  src/pages/InjectModals/TiptapCommandBar/utils/suggestionUtils.ts
  src/pages/InjectModals/TiptapCommandBar/utils/tokenParamUtils.ts
  src/pages/InjectModals/TiptapCommandBar/utils/validateParamValue.ts
  src/pages/MCPDemo/index.tsx
  src/routes/index.tsx
  src/services/coinGeckoService.ts
  src/services/swapService.ts
  src/stores/commandHistoryStore.ts
  src/utils/address.ts
Due: eslint --fix, prettier --write

feat: change file name
  src/entrypoints/background.ts
  src/pages/InjectModals/CommandBar/components/Suggestions/CommandPreview/SwapPreview.tsx
  src/pages/InjectModals/CommandBar/hooks/useCommandExecution.ts
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/SwapPreview.tsx
  src/pages/InjectModals/TiptapCommandBar/hooks/useCommandExecution.ts
  src/services/tokenOperationsService.ts
Due: eslint --fix, prettier --write

feat: finish API connection
  package.json
  pnpm-lock.yaml
  src/assets/images/copy.svg
  src/hooks/useWeb3AuthWalletBridge.ts
  src/pages/EventPopup/components/TransactionSignView.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/RugCheck.tsx
  src/pages/InjectModals/TiptapCommandBar/hooks/useCommandExecution.ts
  src/pages/InjectModals/TiptapCommandBar/styles/tiptap-global.css
  src/routes/index.tsx
  src/services/tokenOperationsService.ts
  src/utils/address.ts
Due: stylelint, eslint --fix, prettier --write

feat: command highlight
  src/pages/InjectModals/TiptapCommandBar/components/TiptapEditor.tsx
  src/pages/InjectModals/TiptapCommandBar/extensions/CommandHighlight.ts
  src/pages/InjectModals/TiptapCommandBar/styles/tiptap-global.css
Due: stylelint, eslint --fix, prettier --write

fix: bug
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandSuggestion.tsx
Due: eslint --fix, prettier --write

feat: change rem to px
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/assets/styles/index.css
  tailwind.config.js
Due: stylelint, prettier --write

fix: style
  rules.json
  src/assets/styles/index.css
  src/components/Modal/index.tsx
  src/components/ToastProvider/index.tsx
  src/pages/InjectModals/TiptapCommandBar/components/TiptapEditor.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/RugCheck.tsx
  src/pages/InjectModals/TiptapCommandBar/hooks/useCommandExecution.ts
  src/pages/InjectModals/TiptapCommandBar/store/tiptapStore.ts
Due: stylelint, eslint --fix, prettier --write

feat: dynamic border
  src/components/DynamicBorder/index.tsx
  src/components/DynamicBorder/styles.css
  src/pages/InjectModals/TiptapCommandBar/components/TiptapEditor.tsx
  src/pages/InjectModals/TiptapCommandBar/index.tsx
  src/pages/InjectModals/TiptapCommandBar/styles/command-bar.css
Due: stylelint, eslint --fix, prettier --write

fix: style
  src/components/Modal/index.tsx
  src/components/ToastProvider/index.tsx
  src/components/shadcn/button.tsx
  src/pages/InjectModals/CommandBar/hooks/useCommandExecution.ts
  src/pages/InjectModals/TiptapCommandBar/components/TiptapEditor.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/SendPreview.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/SwapPreview.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/index.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandSuggestion.tsx
  src/pages/InjectModals/TiptapCommandBar/hooks/useCommandExecution.ts
  src/services/mcpService.ts
  src/utils/mcpClient.ts
Due: eslint --fix, prettier --write

feat: notification style
  src/components/ToastProvider/index.tsx
  src/pages/InjectModals/TiptapCommandBar/hooks/useCommandExecution.ts
Due: eslint --fix, prettier --write

fix: ui style
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/SendPreview.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/SwapPreview.tsx
  src/pages/InjectModals/TiptapCommandBar/index.tsx
Due: eslint --fix, prettier --write

fix: optimize
  src/pages/InjectModals/TiptapCommandBar/hooks/useCommandExecution.ts
Due: eslint --fix, prettier --write

fix: style
  src/assets/styles/index.css
  src/components/ToastProvider/index.tsx
  src/services/tokenOperationsService.ts
Due: stylelint, eslint --fix, prettier --write

feat: chart ui
  src/constants/mcp.ts
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/PriceChart.tsx
  src/pages/InjectModals/TiptapCommandBar/hooks/useCommandExecution.ts
  src/pages/InjectModals/TiptapCommandBar/images/candlestick.svg
  src/pages/InjectModals/TiptapCommandBar/images/line.svg
Due: eslint --fix, prettier --write

feat: send preview ui
  .env
  eslint.config.js
  src/assets/styles/index.css
  src/pages/EventPopup/components/TransactionSignView.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/SendPreview.tsx
  src/pages/InjectModals/TiptapCommandBar/images/qrCode.svg
  src/pages/InjectModals/TiptapCommandBar/images/wallet.svg
  src/pages/Web3AuthTest/index.tsx
  src/services/tokenOperationsService.ts
  src/services/tokenService.ts
  src/utils/transaction.ts
Due: stylelint, eslint --fix, prettier --write

fix: style
  src/pages/InjectModals/TiptapCommandBar/components/TokenView.tsx
  src/pages/InjectModals/TiptapCommandBar/extensions/TokenNode.ts
  src/pages/InjectModals/TiptapCommandBar/index.tsx
  src/pages/InjectModals/TiptapCommandBar/styles/command-bar.css
Due: stylelint, eslint --fix, prettier --write

feat: rug check style
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/RugCheck.tsx
Due: eslint --fix, prettier --write

feat: price command
  TokenPrice_Implementation_Task.md
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/TokenPrice.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandPreview/index.tsx
  src/pages/InjectModals/TiptapCommandBar/components/suggestions/CommandSuggestion.tsx
  src/pages/InjectModals/TiptapCommandBar/extensions/CommandHighlight.ts
  src/pages/InjectModals/TiptapCommandBar/extensions/TokenNode.ts
  src/pages/InjectModals/TiptapCommandBar/images/collected.svg
  src/pages/InjectModals/TiptapCommandBar/images/uncollected.svg
  src/pages/InjectModals/TiptapCommandBar/utils/commandData.ts
  src/pages/InjectModals/TiptapCommandBar/utils/commandUtils.ts
  src/routes/index.tsx
  src/stores/tokenStore.ts
Due: eslint --fix, prettier --write

Path conditions:
  stylelint: any of: src/**/*.css
  eslint --fix: any of: src/**/*.{ts,tsx}
  prettier --write: any of: *.{jsx,js,ts,tsx,json,md,css}
